CompileFlags:
  Add: [-Wall, -Wextra, --std=c2x, -pedantic, -ferror-limit=128, -xc]
  Compiler: clang

Index:
  StandardLibrary: No

If:
  PathMatch: .*\.h$

CompileFlags:
  Remove: -xc
  Add: -xc-header